.App {
  font-family: sans-serif;
  text-align: center;
}

.user-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 220px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  align-items: center;
}

.user-image {
  width: 200px;
  height: 200px;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
}

.full-name {
  font-weight: bold;
}
.pagination-container {
  padding: 5px;
}

.page-number {
  border: 1px solid black;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.page-active {
  background-color: black;
  color: white;
}
